# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.app
*.dmg

# CocoaPods / SPM
Pods/
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Scripts
scripts/
buildServer.json
